In [ ]:
# Commments are not read by the Python interpreter.

## Variables

In [2]:
var = "My Variables"

In [3]:
print(var)

My Variables

## Naming Conventions

snake_case

camelCase

PascalCase

In [10]:
my_variable = "A new variable"

Basic Data Types

In [14]:
# Strings, ints, floats, boolean

my_str = "12,345a;sdjkfla;ðŸ˜Ž"
str2 = str("what our string is")
print(my_str)
str2

12,345a;sdjkfla;ðŸ˜Ž

'what our string is'

In [15]:
my_int = 12
int2 = int(21)
int3 = int(21.223)

print(my_int,int2,int3)

12 21 21

In [16]:
my_float = 1.111
float2 = float(1)
print(my_float,float2)

1.111 1.0

In [23]:
str(my_float)

'1.111'

In [19]:
float(my_str)

ValueError: could not convert string to float: '12,345a;sdjkfla;ðŸ˜Ž'

In [20]:
# booleans
boolean = True
my_bool = bool(my_str)
boolean, my_bool

(True, True)

In [21]:
type(boolean)

bool

In [22]:
type(my_str)

str

In [26]:
is_greater_than_twelve = my_int > 12 
is_greater_than_twelve

False

In [30]:
a = my_str.upper()
b = str2.capitalize()
c = str2.title()
d = str2.count("a")

print(a,b,c,d)

12,345A;SDJKFLA;ðŸ˜Ž What our string is What Our String Is 1

In [31]:
len(str2)

18

In [32]:
my_float + my_int

13.111

In [33]:
4**2

16

In [34]:
import math
neg = -123.22
abs(neg)
math.floor(neg)

-124

In [1]:
7 % 3

1

In [2]:
6 % 2

0